/* General styles for the container */
.container {
    width: auto;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Change to column for better form layout */
    align-items: center;
    justify-content: center;
    background-color: #d7d7d7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 100%; /* Make form take full width of container */
    max-width: 400px; /* Set a max width for better appearance */
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Make input fields take full width */
}

input[type="submit"] {
    background-color: #b7980f; /* Green background */
    color: white; /* White text */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Make button take full width */
}

input[type="submit"]:hover {
    background-color: #b7980f; /* Darker green on hover */
}

a {
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF; /* Bootstrap primary color */
}

a:hover {
    text-decoration: underline;
}


/* Form styles */
form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Set a fixed width for the form */
}

/* Input field styles */
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styles */
input[type="submit"] {
    background-color: #b7980f; /* Green background */
    color: white; /* White text */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b7980f; /* Darker green on hover */
}

/* Link styles */
a {
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF; /* Bootstrap primary color */
}

a:hover {
    text-decoration: underline;
}
