body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f2; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 70px 50px;
    border-radius: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
    max-width: 95%;
    width: 450px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #8a792b;
    font-size: 30px;
    font-family: 'El Messiri', sans-serif;
}

label {
    color: #8a792b;
}

input[type="text"],
input[type="password"] {
    padding: 16px;
    border: 2px solid #d6ccc2;
    border-radius: 10px;
    width: 90%;
    font-size: 18px;
    background-color: #fdfcfb;
}

input:focus {
    border-color: #8a792b; 
    outline: none;
}

button {
    padding: 16px;
    background-color: #8a792b; 
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b7980f;
}

.logout-button {
    padding: 16px;
    border: 2px solid #8a792b;
    border-radius: 10px;
    background-color: #ffffff;
    font-weight: bold;
    color: #8a792b;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    width: 90%;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.logout-button:hover {
    background-color: #8a792b;
    color: #ffffff;
}

.container a {
    color: #8a792b;
    text-decoration: none;
    font-weight: bold;
}
